@import "margin-padding";
$primaryColor:#00804f;

// General
body{ color:#607d8b }
.btn-primary{ color:#fff; background-color:#4caf50; border-color:transparent; }
.btn-default{ color:#607d8b; border-color:#607d8b }
h1{ margin-top:50px; }
.swal-title{ color:#607d8b }
.swal-footer{ text-align:center;
    .swal-button-container{ min-width:150px;
        button{ width:100% }
    }

}
// Game board
.game__board{
    &{ border-radius:20px; overflow:hidden }
    .card{
        &{ height:94px; border:1px solid #fff; transition:background-color 0.3s; }

        &:hover{ opacity:0.8 }

        &.laptop{ background:#00bcd4 }
        &.bike{ background:#4caf50 }
        &.mail{ background:#8bc34a }
        &.plant{ background:#cddc39 }
        &.flower{ background:#ffeb3b }
        &.speaker{ background:#ffc107 }
        &.phone{ background:#ff9800 }
        &.piano{ background:#ff5722 }

        &.hidden-card{ background:#b0bec5 !important; }
    }

    @media (min-width:376px) {
        &{ width:375px; margin:auto; margin-top:30px; }
    }

    @media (max-width:375px) {
        .card{ height:94px; }
    }
}
